Assignment-2

Data Type and Structure

Q1. What are Data structures and why are they important?

A1. Data structures are containers to store, organise and access collections of data efficiently.It is used for access and manipulation of data according users needs.


---
Q2. Explain the difference between mutable and immutable data types with examples?

A2.Mutable data types are the ones which once created the data stored in those containers can be changed, for example- lists and sets. Immutable data types are those whose content can not be changed after its creation, for example- strings, tuples.

---
Q3. What are the main difference between lists and tuple in Python?

A3. The main difference between lists and tuple is lists are mutable and tuples are immutable.Tuples are used to represent collection of related values while lists could contain anything like a grocery bag data.

---
Q4. Describe how dictionaries store data.

A4. Dictionaries store value in key-value pairs. The keys are unique,immutable and of any data type, so cannot be changed once made. While values can be changed or are mutable. They were unordered earlier but from Python verion 3.7 the output is ordered. They are presented by { } and the key and value is separated by colon.  

---
Q5. Why might you use a set instead of a list in Python?

A5. Sets are unordered and unique elements collection. While lists are ordered and mutable collection of elements of any data types. So, when you want the collection elements to be unique and no duplicates present then sets would be preferred.
Also, mathematical operations lke union, intersection, difference and symmetric difference can done on sets while lists would require custom implementation. Sets can be used to check membership like if an item exists in the set or not.


---


Q6. What is a string in Python, and how is it different from a list?

A6. String is an ordered collection of characters which is represented between "" or '' and used to represent text data. While list is an ordered collection of elements of any data types, represented in square brackets.


---


Q7. How do tuples ensure data integrity in Python?

A7. Tuples ensure data integrity in python by being immutable. Once a tuple is created no changes can be done to the tuple.



---


Q8. What is a hash table, and how does it relate to dictionaries in Python?

A8.A hash table is a data structure that stores data in key-value pairs. It relates to dictionaries in Python because it uses the hash table application i.e key- value pairs to store content, where keys are immutable.



---


Q9. Can lists contain different data types in Python?

A9. Yes, lists can contain different data types like strings, integer, float, boolean, other lists,etc.



---


Q10. Explain why strings are immutable in Python.

A10.Strings are immutable in python because immutability make sure they have same hash value throughout their life because of which they can be used as keys in dictionaries- keys are immutable. Strings can act as elements of sets which are immutable but set itself is mutable.





---

Q11.	What advantages do dictionaries offer over lists for certain tasks?

A11. Dictionaries store data as key-value pairs, allowing values to be accessed using unique keys. In contrast, lists store elements in a sequential order, and values are retrieved by their index. The uniqueness of dictionary keys ensures there are no duplicate identifiers, preventing ambiguity. Lists, however, allow duplicates, which can make data retrieval less straightforward and potentially confusing. Dictionaries are more suitable when you need to associate values with unique, meaningful keys.


---


Q12.	Describe a scenario where using a tuple would be preferable over a list.

A12. A tuple, being an immutable and ordered collection of elements, is ideal for scenarios where the data must remain unchanged compared to lists which is mutable. For example, tuples are well-suited for storing a person's name and Aadhaar number or representing the latitude and longitude coordinates of a geographic location.


---


Q13.	How do sets handle duplicate values in Python?

A13. Sets are unordered collection of unique elements. When duplicate values are provided as input, the set automatically removes the duplicates, ensuring that only unique values are retained.


---


Q14.	How does the "in" keyword work differently for lists and dictionaries?

A14.The "in" keyword checks for the value in lists and involves a linear search through the list. While, in dictionary the "in" keyword checks the "keys" exist or not and then pulls out the value connected to the key.

---


Q15.	Can you modify the elements of a tuple? Explain why or why not.

A15. Tuples are immutable and ordered collections of elements, meaning that once a tuple is created, its elements cannot be modified. This immutability ensures data integrity and prevents accidental changes to the tuple's content.


---



Q16.	What is a nested dictionary, and give an example of its use case?

A16. A nested dictionary is a dictionary where some of its values are themselves dictionaries. For example, in stores- product id as keys we can store values of the product like its name, brand, price, warranty,etc.

d={001:{"name":"pan","price":500,"brand":"prestige","warranty":"2 years"},
002:{"name":"cooker","price":5400,"brand":"rayon","warranty":"3 years"}}


---



Q17.	Describe the time complexity of accessing elements in a dictionary.

A17. In dictionary, values are stored in key-value pairs. Less time is required to access the value because of the use of unique and immutable keys ensuring efficient indexing and retrieval.


---


Q18.	In what situations are lists preferred over dictionaries?

A18. Lists are preferred over dictionaries in situations where ordering, index-based access, and the possibility of duplicate values are needed.Also, using lists for slicing and iterative capabilities.


---


Q19.	Why are dictionaries considered unordered, and how does that affect data retrieval?

A19. Dictionaries are considered unordered as it stores value based on key- value pair and not on index or position of the value. Earlier to Python 3.7 version, the output came out unordered. Data retrieval is based on keys which are unique and immutable. The user would have to know the keys to retrive data than index or position.



---


Q20.	Explain the difference between a list and a dictionary in terms of data retrieval.

A20. A list is an ordered and mutable data structure, where data retrieval is based on index. In contrast, a dictionary stores data as key-value pairs, and data retrieval is based on keys, which are immutable and unique.

In [ ]:
#Q1.	Write a code to create a string with your name and print it.
name=input("Please enter your name: ")
print(f"My name is {name}")

Please enter your name: Iola
My name is Iola

In [ ]:
#Q2.	Write a code to find the length of the string "Hello World".
a= len("Hello World")
print("Then length of the string is ",a)

Then length of the string is  11

In [ ]:
#Q3.	Write a code to slice the first 3 characters from the string "Python Programming".
a= "Python Programming"
a[0:3:1]

'Pyt'

In [ ]:
#Q4.	Write a code to convert the string "hello" to uppercase.
a="hello"
a.upper()

'HELLO'

In [ ]:
#Q5.	Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="I like apple"
a.replace('apple','orange')

'I like orange'

In [ ]:
#Q6.	Write a code to create a list with numbers l to 5 and print it.

a=[]
for i in range(1,6):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#or the other method
a=list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#Q7.	Write a code to append the number 10 to the list [1, 2, 3, 4].
a=[1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [ ]:
#Q8.	Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a=[1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [ ]:
#other method that can be used pop
a=[1,2,3,4,5]
a.pop(2)
a

[1, 2, 4, 5]

In [ ]:
#Q9.	Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1=['a','b','c','d']
list1[1]

'b'

In [ ]:
#Q10.	Write a code to reverse the list [10, 20, 30, 40, 50 ].
a=[10,20,30,40,50]

[a[-i] for i in range(1,6)]

[50, 40, 30, 20, 10]

In [ ]:
#Q11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

a=(10,20,30)
print(a)

(10, 20, 30)

In [ ]:
#Q12.	Write a code to access the first element of the tuple ('apple', banana', 'cherry').

b=('apple', 'banana', 'cherry')
b[0]

'apple'

In [ ]:
#Q13.	Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

a= (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [ ]:
#Q14.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a=('dog', 'cat', 'rabbit')
a.index('cat')

1

In [ ]:
#Q15.	Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

a= ('apple', 'orange', 'banana')

'banana' in a

True

In [ ]:
#Q16.	Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [ ]:
#Q17.	Write a code to add the element 6 to the set {1, 2, 3, 4}.

a={1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}

In [ ]:
#Q18.	Write a code to create a tuple with the elements 10, 20, 30 and print it.

a=(10,20,30)
print(a)

(10, 20, 30)

In [ ]:
#Q19.	Write a code to access the first element of the tuple ('apple', banana', 'cherry').

a=('apple', 'banana', 'cherry')
a[0]

'apple'

In [ ]:
#Q20.	Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

a=(1, 2, 3, 2, 4, 2)
a.count(2)

3

In [ ]:
#Q21.	Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog', 'cat', 'rabbit')
a.index('cat')

1

In [ ]:
#Q22.	Write a code to check if the element "banana" is in the tuple ('apple', 'orange', banana').
a= ('apple', 'orange', 'banana')

'banana' in a

True

In [ ]:
#Q23.	Write a code to create a set with the elements l, 2, 3, 4, 5 and print it.

a={1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [ ]:
#Q24.	Write a code to add the element 6 to the set {1, 2, 3, 4}.

a={1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}